<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/bk.css" | absolute_url }}">
  {% if site.search_enabled != nil %}
  <script type="text/javascript" src="{{ "/assets/js/vendor/lunr.min.js" | absolute_url }}"></script>
  {% endif %}
  <script type="text/javascript" src="{{ "/assets/js/just-the-docs.js" | absolute_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="msapplication-config" content="{{ "/assets/browserconfig.xml" | absolute_url }}">
  <link rel="manifest" href="{{ "/assets/manifest.webmanifest" | absolute_url }}">
  <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | absolute_url }}">
  <link rel="icon" sizes="32x32 16x16" href="{{ "/assets/favicon.ico" | absolute_url }}">
  <link rel="mask-icon" color="#263a8a" href="{{ "/assets/safari-pinned-tab.svg" | absolute_url }}">
</head>
